h1 {
    font-family: monospace;
    color: steelblue;
}

p {
    font-family: monospace;
    font-size: 14pt;
}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 8px;
    font-size: 15pt;
    border: 1px none;
    background-color: aquamarine;
}

button:hover {
    background-color: white;
    box-shadow: 0px 0px 1px aquamarine, 0px 0px 3px aquamarine, 0px 0px 6px aquamarine;
}

button:active {
    background-color: aquamarine;
}