h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 405px;
    color: darkslategray;
    border: 3px solid aquamarine;
    box-shadow: 1px 1px 4px gray;
    text-align: center;
    border-radius: 20px;
    padding: 6px;
}

label {
    font-family: monospace;
    font-weight: bold;
}

#convert {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    text-shadow: 1px 1px 2px orangered;
}

#temperature {
    font-family: monospace;
    font-size: 28pt;
    animation: dangle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#textBox {
    width: 55px;
    border:1px solid gray;
    box-shadow: 0px 0px 2px orangered, 2px 2px 2px orangered;
    text-align: center;
    border-radius: 26px;
}

button {
    border: 2px solid lightseagreen;
    background-color: cornsilk;
    padding: 6px;

    color: orangered;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 4px 2px 4px gray;
}

button:hover {
    background: lightseagreen;
    color: cornsilk;
}

button:active {
    background: seashell;
    color: darkgrey;
}

@keyframes dangle {
    50% {opacity: 60%; color: maroon;}
}