h1 {
    font-family: monospace;
    color: firebrick;
    text-shadow: 1px 1px 3px black, -1px -1px 10px yellow;
}

p {
    font-family: monospace;
    font-size: 14pt;
    text-shadow: 1px 1px 4px black;
}