html{
    font-family: monospace;
}

h1 {
    width: 460px;
    text-align: center;
    border: 2px dashed;
    border-radius: 90px;
    padding: 8px;
}

label {
    font-size: 16px;
    padding: 4px;
}
