html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-family: cursive;
}

h1 {
    width: fit-content;
    border: 4px  dashed orangered;
    border-radius: 20px;
    padding: 10px;
}

span {
    text-decoration: underline;
    text-shadow: 0px 0px 2px orangered;
}