div {
    background-color: whitesmoke;
    width: 300px;
    border-radius: 20px;
    border: 10px dotted springgreen;
    padding: 20px;
    margin: 50px;
    color: darkorange;
    font-family: Architects Daughter;
}

h1 {
    color: olivedrab;
    text-align: center;
    font-weight: bold;
    font-family: Architects Daughter;
}

p {
    color: coral;
    font-weight: bold;
    font-family: Architects Daughter;
    font-size: 16pt;
    text-align: justify;
    margin: 1em;
}